#title{
	margin-left: 370px;
	margin-top: 30px;
	margin-bottom: -50px;
	align-self: center;
	font-size: larger;
}

#title2{
	margin-left: 580px;
	margin-bottom: -50px;
	margin-top: 150px;
	padding-top: 3px;
	padding-bottom: 20px;
	align-self: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
}

.container1{
	background-color: #BBECD7;
}

.img1 img{
	margin-top: 10px;
	margin-left: 70px;
	padding-top: 30px;
	padding-bottom: 10px;
	width: 5vw;
	height: 3vw;
}

.brunei{
	margin-top: 10px;
	margin-left: 70px;
	width: 5vw;
	height: 3vw;
}

.cambodia{
	margin-top: -60px;
	margin-left: 210px;
	width: 5vw;
	height: 3vw;
}

.laos{
	margin-top: -63px;
	margin-left: 370px;
	width: 5vw;
	height: 3vw;
}

.myanmar{
	margin-top: -63px;
	margin-left: 640px;
	width: 5vw;
	height: 3vw;
}

.malaysia{
	margin-top: -63px;
	margin-left: 500px;
	width: 5vw;
	height: 3vw;
}

.thailand{
	margin-top: -63px;
	margin-left: 785px;
	width: 5vw;
	height: 3vw;
}

.vietnam{
	margin-top: -63px;
	margin-left: 1070px;
	width: 5vw;
	height: 3vw;
}

.indonesia{
	margin-top: -63px;
	margin-left: 925px;
	width: 5vw;
	height: 3vw;
}

.philippines{
	margin-top: -63px;
	margin-left: 1205px;
	width: 5vw;
	height: 3vw;
}

body{
}

#container2{
	height: 50px;
}

#subtitle1{
	margin-top: 50px;
	margin-left: 140px;
	margin-bottom: -50px;
	align-self: left;
}

#choropleth_map {
	top:80px;
	bottom: 100px; 
	left: 140px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#line_chart {
	top:75px;
	bottom: 100px; 
	left: 55px;
	right: 50px;
	/*height: 1000px;
	width: 800px;*/
}

.line_chart_description{
	padding-left: 700px;
	width:25vw;
	margin-top: -300px;
}

.line_chart_description2{
	padding-left: 1075px;
	width:25vw;
	margin-top: -262px;
}

#subtitle2{
	margin-top: 150px;
	margin-left: 780px;
	margin-bottom: -50px;
	align-self: left;
}

#bar_chart{
	top: 70px;
	bottom: -50px; 
	margin-left: 650px;
	padding-bottom: 100px;
}

.bar_chart_description{
	padding-left: 100px;
	width:30vw;
	margin-top: -450px;
}
