#title{
	margin-left: 500px;
	margin-bottom: -50px;
	align-self: center;
}

#title2{
	margin-left: 600px;
	margin-bottom: -50px;
	margin-top: 150px;
	align-self: center;
}

body{
	background-color: whitesmoke;
}

#container2{
	background-color: cornsilk;
	height: 50px;
}

#subtitle1{
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: -50px;
	align-self: left;
}

#choropleth_map {
	top:80px;
	bottom: 100px; 
	left: 130px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#line_chart {
	top:80px;
	bottom: 100px; 
	left: 30px;
	right: 50px;
	/*height: 1000px;
	width: 800px;*/
}

#subtitle2{
	margin-top: -400px;
	margin-left: 850px;
	margin-bottom: -50px;
}

#bar_chart {
	top: 20px;
	bottom: -50px; 
	left: 150px;
	right: 50px;
}